<!DOCTYPE html>
<html lang="en-ca">

<head>
	<meta charset="utf-8">
	<title>Prehistoric Creatures</title>
	<link href="css/main.css" rel="stylesheet">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>

<body>
	<header>
		<strong>Prehistoric Creatures</strong>
		<nav>
			<ul>
				<li><a href="{{sitebaseurl}}/">Home</a></li>
				<li><a href="{{sitebaseurl}}/dinosaurs/">Dinosaurs</a></li>
				<li><a href="{{sitebaseurl}}/flying/">Flying</a></li>
				<li><a href="{{sitebaseurl}}/mammals/">Mammals</a></li>
			</ul>
		</nav>
	</header>

	
	<main>
		{{content}}
	</main>

</body>
</html>